<footer>
  <div class="container">
    <div class="copyright">
      <span class="comics">All comics &copy; their respective authors.</span>
      <span class="application">&ldquo;Comic Strip Fix&rdquo; application owned and <a href="http://github.com/brettbuddin/comical">maintained</a> by <a href="http://intraspirit.net">Brett Buddin</a>.</span>
    </div>
  </div>
</footer>
