<ul id="navigation">
  <li class="<% if the_action == 'index' and @format == 'newspaper' %>selected <% end %>last"><%= link_to "The Latest", latest_path %></li>
  <li<% if the_action == 'index' and @format == 'list' %> class="selected"<% end %>><%= link_to 'Comic List', root_path %></li>
</ul>