<header class="clearfixed">
  <div class="container">
    <h1><%= link_to 'Comic Strip Fix', root_path %></h1>
    <span class="tagline">The latest from your favorites. Fast.</span>
  </div>
</header>
