<h2>The latest strips from&hellip;</h2>
<% @comics.sort { |x,y| x.site_name <=> y.site_name}.each do |comic| %>
<article class="strip">
  <div class="image">
    <a href="<%= comic.permalink %>"><img src="<%= comic.image_url %>" alt="<%= comic.description %>" /></a>
  </div>
</article>
<% end %>

