<h2>The latest strips from&hellip;</h2>
<% @comics.sort { |x,y| x.site_name <=> y.site_name}.each do |comic| %>
<article class="comic">
  <h3><%= link_to comic.site_name, "/comics/#{comic.url_name}" %></h3>
  <%= relative_date(comic.posted_on) %>
</article>
<% end %>

