<div class="container">
  <h2>The latest strips from&hellip;</h2>
  <% @comics.each do |comic| %>
  <article class="comic">
    <h3><%= link_to comic.name, comic_path(comic) %></h3>
    <%= relative_date(comic.strips.find(:last).posted_on) %>
  </article>
  <% end %>
</div>